body {
    color: #000;
    overflow-x: hidden;
    min-height: 100%;
    background: rgba(48,87,65,1);
    background: linear-gradient(0deg, rgba(48,87,65,1) 0%, rgba(46,139,87,1) 84%) fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    border-radius: 0;
    border: none;
    display: block;
    margin:auto;
}

.card1 {
    width: 50%;
    padding: 40px 30px 10px 30px
}

.register{
    width: 75%;
    padding: 40px 30px 10px 30px
}


.heading {
    margin-bottom: 60px !important
}

.msg-info {
    padding-left: 15px;
    margin-bottom: 30px
}

a {
    color: #000
}

a:hover {
    color: #000
}

.bottom {
    width: 100%;
    margin-top: 50px !important
}



.bigb{
    font-size: 45px;
}

.bigb2{
    padding-top: 80px;
    font-size: 40px;
}

