body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background: rgba(48,87,65,1);
    background: linear-gradient(0deg, rgba(48,87,65,1) 0%, rgba(46,139,87,1) 84%);
    background-repeat: no-repeat;
    background-size: auto;
}

input,
textarea {
    background-color: #F3E5F5;
    border-radius: 10px !important;
    padding: 12px 15px 12px 15px !important;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(48,87,65,1) !important;
    outline-width: 0;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.card {
    border-radius: 0;
    border: none;
    display: block;
    margin:auto;
}

.card1 {
    width: 50%;
    padding: 40px 30px 10px 30px
}

.register{
    width: 75%;
    padding: 40px 30px 10px 30px
}


.heading {
    margin-bottom: 60px !important
}

::placeholder {
    color: #000 !important;
    opacity: 1
}

:-ms-input-placeholder {
    color: #000 !important
}

::-ms-input-placeholder {
    color: #000 !important
}

.form-control-label {
    font-size: 12px;
    margin-left: 15px
}

.msg-info {
    padding-left: 15px;
    margin-bottom: 30px
}

a {
    color: #000
}

a:hover {
    color: #000
}

.bottom {
    width: 100%;
    margin-top: 50px !important
}

.sm-text {
    font-size: 15px
}

@media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px
    }

    .card2 {
        width: 100%
    }

    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important
    }

    .card2 {
        padding: 50px
    }

    .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important
    }
}

.bigb{
    font-size: 45px;
}

.bigb2{
    padding-top: 80px;
    font-size: 40px;
}

