body {
    color: #000;
    overflow-x: hidden;
    min-height: 100%;
    background: rgba(48,87,65,1);
    background: linear-gradient(0deg, rgba(48,87,65,1) 0%, rgba(46,139,87,1) 84%) fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.card {
    border-radius: 0;
    border: none
}

.card1 {
    width: 50%;
    padding: 40px 30px 10px 30px
}

.card2 {
    width: 50%;
    background:  rgba(48,87,65,1);
}

#logo {
    width: 70px;
    height: 60px
}

.heading {
    margin-bottom: 60px !important
}

.msg-info {
    padding-left: 15px;
    margin-bottom: 30px
}

a {
    color: #000
}

a:hover {
    color: #000
}

.bottom {
    width: 100%;
    margin-top: 50px !important
}

.sm-text {
    font-size: 15px
}

@media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px
    }

    .card2 {
        width: 100%
    }

    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important
    }

    .card2 {
        padding: 50px
    }

    .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important
    }
}

.bigb{
    font-size: 45px;
}

.bigb2{
    padding-top: 80px;
    font-size: 40px;
}

.form-control {
	width:98%;
}

