<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>appMedecin</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>

	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>fr.dauphine.sj.monrocqxu.appMedecin.web.Connexion</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Deconnexion</servlet-name>
		<servlet-class>fr.dauphine.sj.monrocqxu.appMedecin.web.Deconnexion</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/deconnexion</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>fr.dauphine.sj.monrocqxu.appMedecin.web.Inscription</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/inscription</url-pattern>
	</servlet-mapping>



</web-app>