<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>appMedecin</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<!-- Missing login -->
		<error-code>401</error-code>
		<location>/401.jsp</location>
	</error-page>
	<error-page>
		<!-- Forbidden directory listing -->
		<error-code>403</error-code>
		<location>/403.jsp</location>
	</error-page>
	<error-page>
		<!-- Missing resource -->
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<error-page>
		<!-- Uncaught exception -->
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page>
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>

	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>fr.dauphine.sj.monrocqxu.appMedecin.web.Connexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>Deconnexion</servlet-name>
		<servlet-class>fr.dauphine.sj.monrocqxu.appMedecin.web.Deconnexion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/deconnexion</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>fr.dauphine.sj.monrocqxu.appMedecin.web.Inscription</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/inscription</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Ajout</servlet-name>
		<servlet-class>fr.dauphine.sj.monrocqxu.appMedecin.web.Ajout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Ajout</servlet-name>
		<url-pattern>/ajout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Espace</servlet-name>
		<servlet-class>fr.dauphine.sj.monrocqxu.appMedecin.web.Espace</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Espace</servlet-name>
		<url-pattern>/espace</url-pattern>
	</servlet-mapping>
</web-app>